body {
  background-color: rgb(94, 184, 245);
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#message-form .btn-primary {
  min-width: 150px;
  margin-top: 15px;
}

#messages {
  margin-top: 20px;
  margin-bottom: 20px;
}

#messages .box {
  position: relative;
}

#messages .box + .box {
  margin-top: 20px;
}

.message__date {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
}